<div class="container col-sm-6">
  <h3>
    <i class="fa fa-car" aria-hidden="true"></i>
    LET US SAVE YOU TIME AND MONEY BY HELPING YOU FIND YOUR NEXT VEHICLE!
  </h3>
  <hr>
  <p>
    At A&amp;T Auto Sales, we go to great lengths helping our customers
    find the specific vehicle that they want in a price range that they
    can afford.
  </p>
  <p>
    Don't waste time searching for your next vehicle. Instead,
    let us go out and get it for you!
  </p>
  <p>
    We stock our inventory according to our customers' needs. This means that you
    can call us to let us know what you're looking for, or you can use our Car-Finder,
    and we promise that we will save you time and money by finding the vehicle you're searching for.
  </p>
</div>
